[submodule "src/ModuCard-software-base"]
	path = src/ModuCard-software-base
	url = git@github.com:KoNarRobotics/ModuCard-software-base.git
[submodule "src/StmEpic"]
	path = src/StmEpic
	url = git@github.com:X-Lemon-X/StmEpic.git
[submodule "src/moducard_firmware"]
	path = src/moducard_firmware
	url = git@github.com:X-Lemon-X/moducard_firmware.git
